* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
}

.nav-links ul {
  display: flex;
  gap: 2em;
  list-style-type: none;
  cursor: pointer;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .nav-links ul {
    display: none;
    text-align: center;
    flex-direction: column;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 600px) {
  .hamburger {
    display: block;
  }
}
.hamburger img {
  height: 30px;
  width: 30px;
}
.icons {
  display: none;
  gap: 1em;
}
.icons i {
  font-size: 1.5em;
  cursor: pointer;
}
@media (min-width: 601px) {
  .icons {
    display: flex;
  }
}
